.project_create_btn{
    width: 270px;
    height: 20px;

    margin-top: 30px;

    background-color: #3e9c67;
    cursor: pointer;
    text-align: center;
}

.project_read_btn{
    width: 270px;
    height: 20px;

    margin-top: 30px;

    background-color: #3e999c;
    cursor: pointer;
    text-align: center;
}

.project_list{
    cursor: pointer;
}

.project_list:hover{
    background-color: gray;
}

.project_del_btn{

}

.project_modify_btn{

}
