<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/issueCRUD_test.css' />

</head>
<body>
<h1>이슈 CRUD 테스트 장소</h1>

<div>

    <div>
        이슈 이름 :
        <input class = "issue_title_info">
    </div>

    <div>
        이슈 설명 :
        <input class = "issue_explain_info">
    </div>

    <div>
        이슈 유저 :
        <input class = "issue_user_info">
    </div>

    <div>
        이슈 연관 프로젝트 :
        <input>
    </div>

    <div>
        이슈 연관 담당자 :
        <input>
    </div>

    <div>
        이슈 연관 진행도 :
        <input>
    </div>

    <div>
        <div>
            이슈 마감일 : 몇월 몇일
        </div>
        <div class = "issue_calendar_btn">
            달력 등장 버튼
        </div>
    </div>

    <div class="issue_create_btn">
        전송
    </div>

    <div class="issue_read_btn">
        받아오기
    </div>


    <div class="issue_list_area">

    </div>

</div>

</body>
</html>
