<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/issueCRUD_test.css' />

    <!--javaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/issueCRUD_test.js"></script>
</head>
<body>
<h1>이슈 CRUD 테스트 장소</h1>

<div>

    <div>
        이슈 설명 :
        <input class = "issue_explain_info">
    </div>

    <div>
        이슈 연관 프로젝트 :
        <input class = "issue_project_id_info">
    </div>


    <div>
        이슈 연관 진행도 :
        <input class = "issue_progress_info">
    </div>

    <div>
        <div>
            이슈 마감일
        </div>
            <input
                    class = "issue_deadline_info"
                    type="date" id="start" name="trip-start"
                    value="2022-01-01"
                    min="2022-01-01" max="2024-12-31">
    </div>

    <div class="issue_create_btn">
        전송
    </div>

    <div class="issue_read_btn">
        받아오기
    </div>


    <div class="issue_list_area">

    </div>

</div>

</body>
</html>
