<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--javaScript -->
    <script type="text/javascript" src="/javascripts/mainCRUD_test.js"></script>

</head>
<body>

    <h1> 테스트 모듈 </h1>

    <button class = "main_issue_btn">이슈 테스트</button>

    <button class = "main_project_btn">프로젝트 테스트</button>

    <button class = "main_review_btn">리뷰 테스트</button>

</body>
</html>
