<!DOCTYPE html>
<html>
<head>
    <title>IMS</title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />s

    <!--javaScript -->
    <script type="text/javascript" src="/javascripts/main.js"></script>

</head>
<body>
<div class="main_content">
    <div>

    </div>
</div>
</body>
</html>
