<!DOCTYPE html>
<html>
<head>
    <title>IMS</title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/project.css' />

    <!--javaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/project.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="project_header">
    <div class="project_header_left_area">
        <div class="project_header_backbtn_area">
            <img
                    class='project_header_backbtn'
                    src="/images/back_icon.png"
                    alt='back' />
        </div>
    </div>
    <div class="project_header_center_area">
        <div class="project_header_title">
        </div>
    </div>
</div>

<div class="project_content">
    <div>
        <div class="project_option_area">
            <div class="project_option_fit_area">
                <div class="project_option_left_area">
                    <img
                            class='project_option_heart_icon'
                            src="/images/heart_icon_off.png"
                            alt='project' />

                    <div class="project_option_heart_num">
                        0
                    </div>

                </div>

                <div class="project_option_right_area">
                    <img
                            class='project_option_edit_icon'
                            src="/images/edit_icon.png"
                            alt='project' />

                    <img
                            class='project_option_member_icon'
                            src="/images/member_icon_small.png"
                            alt='project' />
                </div>
            </div>
        </div>

        <img
                class='project_img'
                src="/images/project_test_img.png"
                alt='project' />

        <div class="project_explain_area">
            <div class="project_explain">
            </div>
<!--            <textarea class="project_explain_edit"></textarea>-->
        </div>

        <div class="project_explain_edit_btn_area">
            <div class="project_explain_edit_cancel_area">
                <div class="project_explain_edit_cancel_text">
                    취소
                </div>
            </div>

            <div class="project_explain_edit_submit_area">
                <div class="project_explain_edit_submit_text">
                    수정
                </div>
            </div>
        </div>

        <div class="project_review_area">
            <div class="project_review_option_area">
                <div class="project_review_header_title">
                    Reviews
                </div>
                <div class="project_review_num">
                    12개
                </div>
                <div class="project_review_filter_area">
                    <img
                            class="project_review_filter"
                            src="/images/filter_icon_small.png"
                            alt='project' />
                </div>
                <div class="project_review_add_btn_area">
                    <div class="project_review_add_btn">
                        +리뷰쓰기
                    </div>
                </div>
            </div>

            <div class="project_review_user_full_area">
                <div class="project_review_user_area">
                    <div class="project_review_user_info">
                        <div class="project_review_user_profile">

                        </div>
                        <div class="project_review_user_name">
                            kimyehyeon
                        </div>
                    </div>
                    <div class="project_review_user_text">
                        좋아요 한 게시글만 따로 볼 수 있었으면 좋겠어요
                    </div>
                    <div class="project_review_user_like_area">
                        <img
                                src="/images/like_icon_off.png"
                                alt='project' />
                        <div class="project_review_user_like_num">
                            10
                        </div>
                        <div class="project_review_user_modify">
                            수정
                        </div>
                        <div class="project_review_user_line">
                            |
                        </div>
                        <div class="project_review_user_delete">
                            삭제
                        </div>
                    </div>
                </div>
                <div class="project_review_user_area">
                    <div class="project_review_user_info">
                        <div class="project_review_user_profile">

                        </div>
                        <div class="project_review_user_name">
                            kimtehyeon
                        </div>
                    </div>
                    <div class="project_review_user_text">
                        좋아요 한 게시글만 따로 볼 수 있었으면 좋겠어요
                    </div>
                    <div class="project_review_user_like_area">
                        <img
                                src="/images/like_icon_off.png"
                                alt='project' />
                        <div class="project_review_user_like_num">
                            10
                        </div>
                        <div class="project_review_user_modify">
                            수정
                        </div>
                        <div class="project_review_user_line">
                            |
                        </div>
                        <div class="project_review_user_delete">
                            삭제
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="project_issue_area">
                <div class="project_issue_option_area">
                    <div class="project_issue_header_title">
                        Problems
                    </div>
                    <div class="project_issue_num">
                        3개
                    </div>
                    <div class="project_issue_filter_area">
                        <img
                                class="project_issue_filter"
                                src="/images/filter_icon_small.png"
                                alt='project' />
                    </div>
                    <div class="project_issue_add_btn_area">
                        <div class="project_issue_add_btn">
                            +문제점 쓰기
                        </div>
                    </div>
                </div>

                <div class="project_issue_user_full_area">
                    <div class="project_issue_user_area">
                        <img
                                class="project_issue_user_like_btn"
                                src="/images/issue_icon_type1.png"
                                alt='project' />

                        <div class="project_issue_user_text_area">
                            <div class="project_issue_user_text">
                                좋아요 아이콘 크기가 너무 작음
                            </div>
                        </div>

                        <div class="project_issue_user_calender_area">
                            <div class="project_issue_user_calender_red">
                                ~1/31
                            </div>
                        </div>
                        <img
                                class="project_issue_user_delete"
                                src="/images/issue_delete_icon.png"
                                alt='project' />
                    </div>

                    <div class="project_issue_user_area">
                        <img
                                class="project_issue_user_like_btn"
                                src="/images/issue_icon_type2.png"
                                alt='project' />

                        <div class="project_issue_user_text_area">
                            <div class="project_issue_user_text">
                                좋아요 아이콘 크기가 너무 작음
                            </div>
                        </div>

                        <div class="project_issue_user_calender_area">
                            <div class="project_issue_user_calender_red">
                                ~1/31
                            </div>
                        </div>
                        <img
                                class="project_issue_user_delete"
                                src="/images/issue_delete_icon.png"
                                alt='project' />
                    </div>

                    <div class="project_issue_user_area">
                        <img
                                class="project_issue_user_like_btn"
                                src="/images/issue_icon_type3.png"
                                alt='project' />

                        <div class="project_issue_user_text_area">
                            <div class="project_issue_user_text">
                                좋아요 아이콘 크기가 너무 작음
                            </div>
                        </div>

                        <div class="project_issue_user_calender_area">
                            <div class="project_issue_user_calender">
                                ~1/31
                            </div>
                        </div>
                        <img
                                class="project_issue_user_delete"
                                src="/images/issue_delete_icon.png"
                                alt='project' />
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="project_issue_write_area">
    <div class="project_issue_write_detail_area">
        <div class="project_issue_write">
            <textarea class="project_issue_write_textarea"  placeholder="내용을 입력해 주세요..."></textarea>
            <div>
                <div class="project_issue_deadline_area">
                    <div class="project_issue_btn_text">
                        마감일 설정
                    </div>
                </div>
                <div class="project_issue_submit_area">
                    <div class="project_issue_btn_text">
                        제출
                    </div>
                </div>
            </div>
        </div>
        <img
                class="project_issue_add_img"
                src="/images/image_icon.png"
                alt='project' />
        <img
                class="project_issue_add_url_link"
                src="/images/url_link_icon.png"
                alt='project' />
    </div>
</div>

<div class="project_review_write_area">
    <div class="project_review_write_detail_area">
        <div class="project_review_write">
            <textarea class="project_review_write_textarea"  placeholder="내용을 입력해 주세요..."></textarea>
            <div>
                <div class="project_review_submit_area">
                    <div class="project_review_btn_text">
                        제출
                    </div>
                </div>
            </div>
        </div>
        <img
                class="project_review_add_img"
                src="/images/image_icon.png"
                alt='project' />
        <img
                class="project_review_add_url_link"
                src="/images/url_link_icon.png"
                alt='project' />
    </div>
</div>


</body>
</html>
