<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/projectCRUD_test.css' />

    <!--javaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/projectCRUD_test.js"></script>

</head>
<body>
<h1>프로젝트 CRUD 테스트 장소</h1>

<div>

    <div>
        프로젝트 이름 :
        <input class = "project_title_info">
    </div>

    <div>
        프로젝트 설명 :
        <input class = "project_explain_info">
    </div>

    <div>
        프로젝트 유저 :
        <input class = "project_user_info">
    </div>

    <div class="project_create_btn">
        전송
    </div>

    <div class="project_read_btn">
        받아오기
    </div>


    <div class="project_list_area">

    </div>

</div>

</body>
</html>
