<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reviewCRUD_test.css' />

</head>
<body>
<h1>리뷰 CRUD 장소</h1>

<div>

    <div>
        리뷰 내용 :
        <input class = "review_title_info">
    </div>

    <div>
        리뷰 유저 :
        <input class = "review_explain_info">
    </div>

    <div>
        프로젝트 아이디 :
        <input class = "review_user_info">
    </div>

    <div class="review_create_btn">
        전송
    </div>

    <div class="review_read_btn">
        받아오기
    </div>


    <div class="review_list_area">

    </div>

</div>

</body>
</html>
