<!DOCTYPE html>
<html>
<head>
    <title>IMS</title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signIn.css' />

    <!--javaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/signIn.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="signin_content">
    <div>
        <div class="signin_header_area">
            <div class="signin_header_text">
                로그인 화면
            </div>
        </div>
        <div class="signin_id_area">
            <div class="signin_text_area">
                ID :
            </div>
            <input class="signin_id_input" id="signin_id">
        </div>
        <div class="signin_pw_area">
            <div class="signin_text_area">
                PW :
            </div>
            <input class="signin_pw_input" type="password" id="signin_pw">
        </div>

        <div class="signin_submit_btn_area" id="signin_btn">
            <div class="signin_submit_btn_text">
                로그인
            </div>
        </div>
        <div class="signin_submit_btn_area" id="signup_btn">
            <div class="signin_submit_btn_text">
                회원가입 하러 가기
            </div>
        </div>
    </div>
</div>
</body>
</html>
