<!DOCTYPE html>
<html>
<head>
    <title>IMS</title>

    <!--css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signUp.css' />

    <!--javaScript -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/signUp.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="signup_content">
    <div>
        <div class="signup_header_area">
            <div class="signup_header_text">
                회원가입 화면
            </div>
        </div>
        <div class="signup_id_area">
            <div class="signup_text_area">
                ID :
            </div>
            <input class="signup_id_input" id="signup_id">
        </div>

        <div class="signup_pw_area">
            <div class="signup_text_area">
                PW :
            </div>
            <input class="signup_pw_input" id="signup_pw" type="password">
        </div>

        <div class="signup_name_area">
            <div class="signup_text_area">
                EMAIL :
            </div>
            <input class="signup_name_input" id="signup_email">
        </div>

        <div class="signup_name_area">
            <div class="signup_text_area">
                NAME :
            </div>
            <input class="signup_name_input" id="signup_name">
        </div>

        <div class="signup_submit_btn_area" id="signup_btn">
            <div class="signup_submit_btn_text">
                회원가입
            </div>
        </div>

        <div class="signup_submit_btn_area" id="signin_btn">
            <div class="signup_submit_btn_text">
                로그인 하러 가기
            </div>
        </div>
    </div>
</div>
</body>
</html>
